@font-face {
    font-family: 'Public Sans', sans-serif;
    src: url('./assets/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf') format('ttf'),
        url('./assets/Public_Sans/PublicSans-VariableFont_wght.ttf') format('ttf');

}

img,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.56;
}
img{
    max-width: 100%;
}
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

small {
    font-size: 12px;
    display: flex;
    align-items: center;
}

small img {
    margin-right: 6px;
    border-radius: 50%;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid red;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}


/* ==========header-content================================ */
nav,
.menu-btns,
.menu-items {
    display: flex;
    align-items: center;
}

nav {
    margin: 0 1.5rem 1.5rem 1.5rem;
    justify-content: space-between;
}

.menu-items li,
.menu-btns li {
    color: #130541;
    font-size: 14px;
    font-weight: 500;
}

.menu-items li {
    margin-right: 30px;
}

.menu-items li>svg {
    margin-left: 3px;
}

.menu-btns li {
    margin-right: 20px;
}

.menu-btns .subscribe a {
    color: #fff;
    padding: 9px 18px 8px 23px;
    border-radius: 4px;
    background-color: #130541;
    margin-left: 15px;
}

/* ===================================footer================================ */
footer {
    background-color: #160a39;
    color: #fff;
}

.footer-content {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    padding-top: 55px;

}

.footer-item-one {
    width: 90%;
}

.footer-item-two {
    width: 80%;
    margin: 0 auto;
}

.footer-item-one img {
    width: 180px;
    margin-bottom: 25px;
}

footer .popular-post {
    display: flex;
    padding: 20px 0px;
    align-items: center;
}

footer .post-border-bottom {
    border-bottom: 1px solid #3f3557;
}

footer .popular-post .popular-post-content {
    margin-left: 25px;
}

footer .footer-item-three {
    width: 80%;
    margin: 0 auto;
}

footer .most-view-blog {
    min-height: 90px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

footer h3 {
    margin: 0;
}

footer hr {
    width: 40px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
}

footer p {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: normal;
    margin: 0 0 10px 0;
}

.footer-nav {
    background-color: #130731;
    margin: 0 auto;
}

.footer-nav h4 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;

}

.footer-nav nav {
    padding: 1rem;
}

.footer-nav li {
    color: white;
}

/* ==----------------------------------------------------------------main section==== */
/* =========hero section------------------------------------------------ */
.hero-grid-items {
    position: relative;
}

.hero-grid-item1 {
    grid-area: left-blog;
}

.hero-grid-item2 {
    grid-area: right-blog;
    margin-bottom: 10px;
}

.hero-grid-item3 {
    grid-area: right-bottom;
}

.hero-grid-item4 {
    grid-area: right-bottom-end;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'left-blog left-blog right-blog right-blog'
        'left-blog left-blog right-bottom right-bottom-end'
    ;
    margin: 30px 0px;
}

.hero-section .life-Style {
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 80%;
}

.hero-section .life-Style a {
    color: white;
    padding: 4px 13px 5px 13px;
    background-color: #037fff;
    font-size: 12px;
    border-radius: 20px;
    text-transform: uppercase;
}

.hero-section .life-Style-color {
    background-color: #9e03ff !important;
}

.hero-section .travel {
    background-color: #f26317 !important;
}

.hero-section .life-Style h1,
.hero-section .life-Style h3,
.hero-section .life-Style h4 {
    margin: 20px 0;
}

/* =======================================================feature================================================ */
.features {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 6px;
    border: solid 2px rgba(3, 127, 255, 0.3);
    background-color: rgba(3, 127, 255, 0.05);
    margin: 30px 0px;
}

.travel-one {
    display: flex;
    align-items: center;
}

.travel-one-content {
    margin-left: 25px;
}

.travel-one-content h5 {
    margin: 15px 0 12px 0;
}

.travel-one a {
    color: white;
    padding: 4px 13px 5px 13px;
    background-color: #5a17f2;
    ;
    font-size: 12px;
    border-radius: 20px;
    text-transform: uppercase;
}

/* <!-- technology and follow up section --> */


.categories {
    display: flex;
    margin: 30px 0px;
}

.fashion-blog-content {
    margin: 25px 0 42px 0;
}

.fashion-blog-content a {
    color: white;
    padding: 4px 13px 5px 13px;
    background-color: #5a17f2;
    ;
    font-size: 12px;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 30px;
}

.fashion-blog-content h3 {
    margin: 15px 0;
    width: 90%;
}

.together {
    margin-bottom: 40px;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 12px;
    margin-top: 25px;
}

.social-media li {
    display: flex;
    align-items: center;
}

.fashion-style {
    margin-right: 50px;
}

.fashion-style,
.follow-us {
    width: 33.33%;
}

.fashion-style h2,.follow-us h2 {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(3, 127, 255, 0.25);
    width: calc(100% - 5px);
    margin-bottom: 25px;
    
}

.fashion-style h2::after,.follow-us h2::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 3px solid #037fff;
    width: calc(100% - 70%);
}

.social-media .facebook {
    padding: 6px 16px 4px 14px;
    border-radius: 13.5px;
    background-color: #0955e5;
    color: white;
}

.social-media .twitter {
    background-color: #009dff !important;
}

.social-media .youtube {
    background-color: #3c09e5 !important;
}

.social-media .gg-youtube {
    margin-right: 5px;
}

.follow-us-popular-post {
    position: relative;
    margin-top: 40px;
    border-radius: 6px;
    border: 2px solid rgba(3, 127, 255, 0.25);
    padding: 40px 50px 25px 37px;
    
}

.follow-us-popular-post::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    right: 6px;
    bottom: 5px;
    border: 2px solid rgba(3, 127, 255, 0.25);
    border-radius: 6px;
}

.follow-us-popular-post h3{
    font-size: 24px;
}
.posts p {
    font-weight: bold;
    color: #1c003d;
    width: 214px;
    line-height: 1.5;
    margin: 0 0 14px 0;
}

.posts .most-view div:not(:last-child) {
    border-bottom: 1px solid rgba(19, 5, 65, 0.16);
}

.posts .most-view-blog {
    padding: 15px 0 18px 0;
}

/* promotional */
.promotional-section {
    margin: 30px 0;
}

.promotional{
    background-color: #0351ff;
    padding: 15px 12px;
    margin: 0 auto;
    width: 87%;
}
.promotional-content{
    display: flex;
    padding: 47px 45px;
    border: solid 4px rgba(255, 255, 255, 0.4);
    justify-content: space-evenly;
    align-items: center;
}
.promotional-content img{
   border-right: 2px solid white;
   padding-right: 5%;
}

.promotional-content h3{
    color: white;
    width: 34%;
}
.promotional-content button{
    background-color: #fff;
    padding: 22px 25px;
    border-radius: 4px;
    border: 1px solid white;
}
.promotional-content a{
    color: #037fff;
    padding: 12px 22px 11px 23px;
  border-radius: 4px;
  border: solid 3px #037fff;
    
} 

/* latest-posts */
.latest-post-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    width: 70%;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #130541;;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #130541;
    color: white;
    border: 1px solid #130541;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

/* follow-us */

.latest-post h2
 {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(3, 127, 255, 0.25);
    width: calc(100% - 10%);
    margin-bottom: 25px;
    
}

.latest-post h2::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 3px solid #037fff;
    width: calc(100% - 70%);
}


.latest-post-and-follow-us{
    display: flex;
    margin: 30px 0 64px 0;
}
.follow-us-two h3{
    margin-bottom: 25px;
}
.categories-list{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding:17px 0;
}
.category h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.ads{
    outline: #160a39 solid 15px;
    border-radius: 6px;
    margin-top: 50px;
    
}
.ads-content h3{
    color: white;
}
.ads-content img,.ads-content h3{
    margin-bottom: 30px;
} 
.ads-content button{
    margin-top: 100px;
}
.ads-content{
    border: solid 4px rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    background-color: #160a39;
    padding: 60px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ads-content button{
    background-color: #fff;
    border-radius: 4px;
    border:1px solid white;
    padding: 22px 24px;
}
.ads-content a{
    font: 16;
    color: #0e0529;
    border: solid 3px #0e0529;
    border-radius: 4px;
    padding: 10px 15px;
}
.tags-list{
    margin-top: 70px;
}
.tags{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-top: 28px;
}
.tags li{
    padding: 7px 15px;
    background-color: #130541;
    color: white;
    border-radius: 14px;
}
.topnav .icon{
    display: none;
}
/* ====================================================mobile responsive content====== */


  @media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
        
    }
    
    h2 {
        font-size: 20px;       
    }
    
    h3 {
        font-size: 18px;
        
    }
    
    h4 {
        font-size: 16px;
        
    }
    
    .nav{
        margin: 0;
    }
    .menu-items {
        flex-direction: column;
        align-items: end;
    }
    .topnav li{display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive li {
      float: none;
      display: block;
      text-align: left;
    }

    .hero-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            'left-blog left-blog'
            'right-blog right-blog'
            'right-bottom right-bottom-end'
        ;
        margin: 30px 0px;
    }
    .fashion-style, .follow-us{
        width: 100%;
    }
    .promotional-content h3{
        width: 100%;
    }
    .latest-post-section{
        width: 100%;

    }
    .footer-item-two{
        width: 100%;

    }
    .features{
        flex-direction: column;
    }
    .categories{
        flex-direction: column;
    }
    .latest-post-and-follow-us{
        flex-direction: column;
    }
    .latest-post-section {
        grid-template-columns: repeat(1,1fr);
    }
    .footer-content{
        display: block;
    }
    footer nav{
        display: block;
    }
    footer .menu-btns, footer .menu-items{
        align-items: start;
    }
    .promotional-content{
        flex-direction: column;
    }
    
  }
  
 